{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": false,
        "targets": {
          "node": "8.12"
        },
        "modules": "commonjs"
      }
    ]
  ],
  "ignore": ["node_modules"],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
